<!--
<input type="text" #variable="ngModel" required [(ngModel)] = "input">
<p class="karen" [class.x] = "variable.invalid">Mensaje error</p>
<p> Lo escrito es {{input}}</p>
<hr>
-->
<div class="nosotros">
  <div class="contenedor-nosotros">
    <h2>Nosotros</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora velit
      sed molestiae distinctio soluta necessitatibus nisi minima, nulla
      perspiciatis, quas harum, laboriosam quo ab recusandae dolores eaque saepe
      in! Optio? Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Voluptas quasi odio, eveniet blanditiis esse cumque. Iure recusandae atque
      repellat earum corporis? Libero aliquam repudiandae rem veritatis maxime
      assumenda, vero quasi? Lorem ipsum dolor, sit amet consectetur adipisicing
      elit. Laudantium dolorem sunt in, est temporibus perspiciatis animi
      numquam voluptates doloremque fugit consectetur autem illo odio. Sed
      asperiores rerum placeat tenetur nihil.
    </p>
    <video
      controls
      muted
      loop
      src="../assets/videos/video.mp4"
      width="650"
      height="350"
    ></video>
  </div>
  <div class="contenedor-mision">
    <div>
      <h2>Misión</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate,
        inventore reprehenderit, ipsam quia tenetur dolorum qui iusto nihil
        repellat obcaecati totam officia saepe! Nam illo rerum quisquam magni
        eaque suscipit! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Quis nam doloremque nostrum facilis similique vitae, molestiae illo odio
        possimus maiores? Soluta totam quos quasi repudiandae minima. Officiis
        praesentium consequatur consequuntur. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Molestiae consequatur excepturi tempore
        unde omnis aut vitae similique ipsam voluptatem obcaecati, suscipit quae
        vel ducimus sit, nihil quod asperiores mollitia incidunt!
      </p>
    </div>
    <img
      width="500"
      height="450"
      src="../../../assets/img/pexels-mike-jones-8805437.jpg"
      alt=""
    />
  </div>
  <div class="contenedor-vision"></div>
</div>
