.barra {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: -50px;
}

.div-menu {
  margin-top: -29px;
}

/*barra*/
.menu {
  width: 80%;
  background: #ee5b07;
  height: 50px;
  border-radius: 500px;
  margin: auto;
  /*margin-top: 175px;
  text-align: center;
  margin-left: auto;*/
}

.menuNav {
  text-align: center;
  color: white;
  width: 100%;
}

.boton {
  font-size: 16px;
  color: white;
  transition: all .6s ease;
}
.boton:hover {
  background-color: rgba(255, 255, 255, 0.719);
  color: #ee5b07;
  border-color: white;
}
.boton-usuario{
  color: #ee5c07e1;
  font-size: 15.5px;
}
.boton-usuario:hover{
  background: #ee5c07;
  color: white;
}
.example-button-row {
  /*display: table-cell;*/
  width: 100%;
  font-size: 15px;
  color: white;
}
.example-button-row .mat-button-base {
  margin: 8px 40px 8px 0;
}
